server:
  port: 8761  # Port standard pour Eureka

spring:
  application:
    name: eureka-server

eureka:
  instance:
    hostname: localhost
  client:
    # Ce serveur n'a pas besoin de s'enregistrer lui-même ni de récupérer le registre
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/
  server:
    wait-time-in-ms-when-sync-empty: 0  # Démarre sans attendre d'autres instances
